// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$cart-name: 'cart';
$cart-x: 0px;
$cart-y: 0px;
$cart-offset-x: 0px;
$cart-offset-y: 0px;
$cart-width: 300px;
$cart-height: 300px;
$cart-total-width: 700px;
$cart-total-height: 700px;
$cart-image: '~sprite.png';
$cart: (0px, 0px, 0px, 0px, 300px, 300px, 700px, 700px, '~sprite.png', 'cart', );
$emoji-name: 'emoji';
$emoji-x: 300px;
$emoji-y: 0px;
$emoji-offset-x: -300px;
$emoji-offset-y: 0px;
$emoji-width: 200px;
$emoji-height: 200px;
$emoji-total-width: 700px;
$emoji-total-height: 700px;
$emoji-image: '~sprite.png';
$emoji: (300px, 0px, -300px, 0px, 200px, 200px, 700px, 700px, '~sprite.png', 'emoji', );
$home-name: 'home';
$home-x: 0px;
$home-y: 300px;
$home-offset-x: 0px;
$home-offset-y: -300px;
$home-width: 200px;
$home-height: 200px;
$home-total-width: 700px;
$home-total-height: 700px;
$home-image: '~sprite.png';
$home: (0px, 300px, 0px, -300px, 200px, 200px, 700px, 700px, '~sprite.png', 'home', );
$pay-name: 'pay';
$pay-x: 200px;
$pay-y: 300px;
$pay-offset-x: -200px;
$pay-offset-y: -300px;
$pay-width: 200px;
$pay-height: 200px;
$pay-total-width: 700px;
$pay-total-height: 700px;
$pay-image: '~sprite.png';
$pay: (200px, 300px, -200px, -300px, 200px, 200px, 700px, 700px, '~sprite.png', 'pay', );
$pic-name: 'pic';
$pic-x: 500px;
$pic-y: 0px;
$pic-offset-x: -500px;
$pic-offset-y: 0px;
$pic-width: 200px;
$pic-height: 200px;
$pic-total-width: 700px;
$pic-total-height: 700px;
$pic-image: '~sprite.png';
$pic: (500px, 0px, -500px, 0px, 200px, 200px, 700px, 700px, '~sprite.png', 'pic', );
$refresh-name: 'refresh';
$refresh-x: 500px;
$refresh-y: 200px;
$refresh-offset-x: -500px;
$refresh-offset-y: -200px;
$refresh-width: 200px;
$refresh-height: 200px;
$refresh-total-width: 700px;
$refresh-total-height: 700px;
$refresh-image: '~sprite.png';
$refresh: (500px, 200px, -500px, -200px, 200px, 200px, 700px, 700px, '~sprite.png', 'refresh', );
$send-name: 'send';
$send-x: 500px;
$send-y: 400px;
$send-offset-x: -500px;
$send-offset-y: -400px;
$send-width: 64px;
$send-height: 64px;
$send-total-width: 700px;
$send-total-height: 700px;
$send-image: '~sprite.png';
$send: (500px, 400px, -500px, -400px, 64px, 64px, 700px, 700px, '~sprite.png', 'send', );
$settings-name: 'settings';
$settings-x: 0px;
$settings-y: 500px;
$settings-offset-x: 0px;
$settings-offset-y: -500px;
$settings-width: 200px;
$settings-height: 200px;
$settings-total-width: 700px;
$settings-total-height: 700px;
$settings-image: '~sprite.png';
$settings: (0px, 500px, 0px, -500px, 200px, 200px, 700px, 700px, '~sprite.png', 'settings', );
$time-name: 'time';
$time-x: 200px;
$time-y: 500px;
$time-offset-x: -200px;
$time-offset-y: -500px;
$time-width: 200px;
$time-height: 200px;
$time-total-width: 700px;
$time-total-height: 700px;
$time-image: '~sprite.png';
$time: (200px, 500px, -200px, -500px, 200px, 200px, 700px, 700px, '~sprite.png', 'time', );
$spritesheet-width: 700px;
$spritesheet-height: 700px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($cart, $emoji, $home, $pay, $pic, $refresh, $send, $settings, $time, );
$spritesheet: (700px, 700px, '~sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
